h1,
h2,
h3,
h4,
h5{
    color: #eb123c;
    font-family: epilogue;
}

*{
    font-family: epilogue;
    color: black;
}


header{
    height: 700px;
    background-image: url(./img/henry-co--odUkx8C2gg-unsplash.jpg);
}

footer{
    height: auto;
}

.btn {
    color: #eb123c;
}
